
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-image: url("assets/pexels-matthiasgroeneveld-4200740.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: brightness(20%);
    background-position: center;
  
}
 

h1 {
    margin-top: 0;
   
   padding-top: 20px;
    color: rgb(226, 181, 31);
     font-size: 50px;
}
button{
    padding: 20px;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
}
 
#game-board {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(3, 120px);
    gap: 5px;
    margin-top: 100px  ;
    margin-left: 710px;
    
}

.tile {
     
    background-color: #fff;
    border: 2px solid #ccc;
    font-size: 5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tile:hover {
    background-color: #e0e0e0;
}

#game-status {
    margin-top: 20px;
    font-size: 3.2rem;
    color: rgb(226, 181, 31);
}
.ai-move {
    background-color: #dcedc8 !important;
}

#difficulty-selection {
    margin-bottom: 20px;
}

/* Highlight the winning tiles */
.highlight {
    background-color: #4caf50;
    color: white;
    transition: background-color 0.5s ease, color 0.5s ease;
}

/* Add a style for the winning message */
#winner {
    font-size: 2em;
    color: #4caf50;
    animation: pulse 1s infinite;
}

/* Pulse animation */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
